.w {/*版心*/
    width: 900px;
    margin: 0 auto;
}

body {
     background-color: #e6e6e6;
}
.border {
    height: 15px;
    background-color: gold;
    border: 3px solid goldenrod;
}

.head {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: rgba(255,0,0,0.5);
    z-index: 999;
    top: 0;
}

.head_w {
    width: 900px;
    margin:0 auto;
    position: relative;
}
.head .mainlogo {
    position:absolute;
    height: 100px;
    left: -10%;
}

.head .mainlogo a {
    display: block;
    height: 100px;
    width: 133px;
    background: url("../imges/主题1.png") no-repeat ;
    font-size: 0;
}

.head .search {
    position: absolute;
    top: 20px;
    left: 50%;
    height: 40px;
    width: 550px;
    line-height: 40px;
    transform: translate(-50%,0);
    /* font-size: 0; 去除input与button间的间距或采用定位*/
}

.head .search input {
    height: 36px;
    width: 480px;
    padding-left: 20px;
    border-radius: 0;
    font-size: 15px;
    border: 2px solid #efefef;
    outline: none;
    color: #fff;
    background-color: rgba(255,255,255,0.5);
}
input::-webkit-input-placeholder {
    color:red;
}

.head .search button {
    position: absolute;
    top: 0px;  
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    outline: none;/*去除选中时的边框*/
    color: red;
    font-weight: 700;
}

.head .hotwords {
    position: absolute;
    top: 65px;
    left: 50%;
    height: 20px;
    width: 400px;
    transform: translate(-50%,0);
}

.head .hotwords ul li {
    float: left;
    margin-left: 30px;
    color: rgba(255,255,255,0.8);
}

.head .slogan {
    position: absolute;
    top: 0;
    right: -10%;
    height: 100px;
    width: 140px;
    font-size: 35px;
    color: #e6e6e6;
}

.space {
    height: 79px;
    background-color: #e6e6e6;
}

.footer {
    position: relative;
    height: 300px;
    background-color: #ff3333;
    border-top: 4px solid red;
}

.footer_left {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 350px;
    height: 225px;
    /* border: 8px solid gray; */
    transform: translate(-700px,0);
    background:url(../imges/边框.png) no-repeat;
}

.footer_left .tv {
    padding: 8px;
    margin-top: 2px;
}

.footer_left .tv video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.footer_middle {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 620px;
    height: 200px;
    transform: translate(-50%,0);
    background-color: yellow;
    border: 8px solid gold;
}
    
.footer_middle li {
    float: left;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: red;
    font-weight: 600;
}

.footer_middle a {
    display: block;
    width: 180px;
    height: 120px;
    /* background-color: gray; */
}

.footer_middle a img:hover {
    transform: scale(1.02);
}

.footer_right {
    position:absolute;
    top: 50px;
    left: 50%;
    width: 200px;
    height: 216px;
    transform: translate(370px,0);
    /* background-color: gray; */
    text-align: center;
}

.footer_right .picture {
    margin: 17px auto;
    /* background-color:aqua; */
    width: 160px;
    height: 160px;
}

.footer_right .picture img {
    width: 100%;
    height: 100%;
}

@keyframes changecolor {

    0% {
        color: orange;
    }

    25% {
        color: yellow;
    }

    50% {
        color: green;
    }

    75% {
        color: cyan;
    }

    100% {
        color: purple;
    }
     


}

.footer_right h2{
    font-size: 25px;
    font-weight: 1500;
    line-height: 8px;
    margin-left: 15px;
    animation-name: changecolor;
    /* 持续时间 */
    animation-duration: 2.5s;
    /* 运动曲线 */
    animation-timing-function: linear;
    /* 延迟开始 */
    animation-delay: 1s;
    /* 重复次数  */
    animation-iteration-count: infinite;
}

.footer .music {
    position:absolute;
    bottom: 0;
    width: 150px;
    height: 100px;
}

.footer .music video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: none;
}

@keyframes clouds {
    0% {
          
    }
    100% {
        transform: translatex(1600px);
    }
}

.clouds .cloud1_1 {
    position: fixed;
    /* z-index: -1; */
    top: 100px;
    left: -200px;
    background: url("../imges/云朵11.png") no-repeat;
    width: 199px;
    height: 122px;
    animation-name: clouds;
    /* 持续时间 */
    animation-duration: 5s;
    /* 运动曲线 */
    animation-timing-function: linear;
    /* 延迟开始 */
    /* animation-delay: 1s; */
    /* 重复次数  */
    animation-iteration-count: infinite;
}

.clouds .cloud1_2 {
    position: fixed;
    /* z-index: -1; */
    top: 500px;
    left: -200px;
    background: url("../imges/云朵11.png") no-repeat;
    width: 199px;
    height: 122px;
    animation-name: clouds;
    /* 持续时间 */
    animation-duration: 9s;
    /* 运动曲线 */
    animation-timing-function: ease-in-out;
    /* 延迟开始 */
    animation-delay: 2s;
    /* 重复次数  */
    animation-iteration-count: infinite;
}

.clouds .cloud2_1 {
    position: fixed;
    /* z-index: -1; */
    top: 300px;
    left: -277px;
    background: url("../imges/云朵22.png") no-repeat;
    width: 277px;
    height: 145px;
    animation-name: clouds;
    /* 持续时间 */
    animation-duration: 5s;
    /* 运动曲线 */
    animation-timing-function: linear;
    /* 延迟开始 */
    animation-delay: 2.5s;
    /* 重复次数  */
    animation-iteration-count: infinite;
}
