.main {
    height: 4927px;
    background-color: rgba(255,0,0,.7);
}

.main .title {
    height: 224px;  
    background: url(../imges/飘带3.png) no-repeat;
    background-color: #e6e6e6;
    line-height: 200px;
}

.main .title p {
    color: #c20322;
    font-size: 80px;
    width: 500px;
    height: 100px;
    margin-left: 200px;
}

.main .title p:hover {
    color: gold;
}

.main .revolve {
    height: 300px;
    background-color: #e6e6e6; 
    perspective: 1000px;
    border-top: 8px solid gold;
    border-bottom: 8px solid gold;
    border-left: 8px solid red;
    border-right: 8px solid red;
}

.main .revolve section {
    margin: 0 auto;
    position: relative;
    top: 80px;
    width: 300px;
    height: 150px;
    /* margin: 150px auto; */
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
}

.main .revolve section:hover {
    animation-play-state: paused;
}

@keyframes rotate {
    0% {
        transform: rotatey(0);
    }

    100% {
        transform: rotatey(360deg);
    }
}

.main .revolve section div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../imges/11.jpg) no-repeat;
}

.main .revolve section div:nth-child(1) {
    transform: translatez(300px);
    background: url(../imges/11.jpg) no-repeat;
}

.main .revolve section div:nth-child(2) {
    transform: rotatey(60deg) translatez(300px);
    background: url(../imges/22.jpg) no-repeat;
}

.main .revolve section div:nth-child(3) {
    transform: rotatey(120deg) translatez(300px);
    background: url(../imges/33.jpg) no-repeat;
}

.main .revolve section div:nth-child(4) {
    transform: rotatey(180deg) translatez(300px);
    background: url(../imges/44.jpg) no-repeat;
}

.main .revolve section div:nth-child(5) {
    transform: rotatey(240deg) translatez(300px);
    background: url(../imges/55.jpg) no-repeat;
}

.main .revolve section div:nth-child(6) {
    transform: rotatey(300deg) translatez(300px);
    background: url(../imges/66.jpg) no-repeat;
}

.licheng,
.jincheng,
.anpai
{
    background-color: reba(255,0,0,.5);
    font-size: 30px;
    perspective: 3500px;
}

.licheng {
    border: 8px solid gold;
    border-bottom: 0;
}

.licheng_title,
.jincheng_title,
.anpai_title
 {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    background-color:aqua;
    font-size: 60px;
    line-height: 100px;
    text-align: center;
    border-radius: 60px;
}

.licheng_title {
    position: relative;
    transition: all 2s;
    transform-style: preserve-3d;
}

.licheng_title a {
    display: block;
}

/* .licheng_title:hover {
    transform: rotatex(180deg);
} */

.licheng_title_front,
.licheng_title_back {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    color: red;
}

.licheng_title_front {
    background-color: pink;
    z-index: 1;
}

.licheng_title_back {
    background-color: deeppink;
    color: pink;
    transform: rotatex(180deg);
}

.licheng_body,
.jincheng_body,
.anpai_body
 {
    background-color: #fee2c3;
    border: 10px double red;
    text-indent:2em;
    font-size: 30px;
    color: black;
    line-height: 60px;
}
/* 侧边栏 */
.bodynav {
    position:fixed;
    z-index: 1000;
    left: 0;
    top: 200px;
    width: 100px;
    height: 330px;
    /* background-color: deeppink;   */
}


.bodynav ul li {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
    background-color: #f08a8a;
    /* background-color: rgba(255,0,0,.3); */
    font-size: 20px;
    text-align: center;
    line-height: 100px;
}

.bodynav ul li:hover {
    background-color: #ff4c4c;
}

.bodynav ul li a {
    font-weight: 700;
}

.bodynav ul li a:hover {
    color:  white;
    font-size: 23px;
}

/* audio::-webkit-media-controls-enclosure{ 
    display: none;
} */
audio::-webkit-media-controls-fullscreen-button {
    display: none;
}
/* 播放按钮 */
audio::-webkit-media-controls-play-button {
    display: block;
}
/* 进度条 */
audio::-webkit-media-controls-timeline {
    display: none;
}
/* 前时间  */
audio::-webkit-media-controls-current-time-display{
    display: none;            
}
/* 剩余时间 */
audio::-webkit-media-controls-time-remaining-display {
    display: none;            
}
/* 音量按钮 */
audio::-webkit-media-controls-mute-button {
    display: none;            
}
audio::-webkit-media-controls-toggle-closed-captions-button {
    display: none;            
}
/* 音量的控制条 */
audio::-webkit-media-controls-volume-slider {
    display: none;            
}

.bodynav audio {
    width: 100px;
}

.headnav {
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 0;
    height: 230px;
    width: 200px;
}

.headnav img {
    display: none;
}
