.main {
    /* background-color: #be2533; */
    /* background-color: #e26171; */
    background-color: #ffb2c3;
    height: 10320px;
    border: 10px double red;
}

.main_hd {
    overflow: hidden;
    height: 145px;
    background-color: #e26171;
    border-bottom: 4px solid red;
}

.main_hd .title {
    width: 200px;
    height: 100px;
    background-color: #be2533;
    font-size: 40px;
    font-weight: 800;
    line-height: 100px;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    text-align: center;
    border-radius: 50%;
}

.main_bd {
    overflow: hidden;
    height: 9850px;
    background-color: brown;  
    border-bottom: 4px solid red;
}

.main_bd ul li {
    width: 600px;
    height: 240px;
    background-color:blue;
    margin: 0 auto;
    margin-top: 40px;
}

.main_bd ul li img {
    width: 100%;
    height: 100%;
}

.main_bd ul li img:hover {
    transform: scale(1.2);  
}

.passage {
    height: 200px;
    background-color:#e26171;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    padding: 80px;
    color: #000;
    text-indent:2em;
}