.main {
    height: 3820px;
    /* background-color: rgb(240, 202, 208); */
    background-color: #efdeb9;
    border: 8px double red;
}

.main_hd {
    overflow: hidden;
    height: 145px;
    background-color: #e26171;
    border-bottom: 4px solid red;
}

.main_hd .title {
    width: 200px;
    height: 100px;
    background-color: #be2533;
    font-size: 40px;
    font-weight: 800;
    line-height: 100px;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    text-align: center;
    border-radius: 50%;
}

.main_bd {
    position: relative;
    padding-top: 20px;
}

.main_bd .stright li {
    position: absolute;
    top: 0px;
    width: 600px;
    height: 800px;
    margin-left: 150px;
    background-color: darkseagreen;
}

.main_bd .stright li:nth-child(1) {
    top: 110px;
}

.main_bd .stright li:nth-child(2) {
    top: 1000px;
}

.main_bd .stright li:nth-child(3) {
    top: 1890px;
}

.main_bd .stright li:nth-child(4) {
    top: 2780px;
}

.main_bd .liner li {
    width: 600px;
    height: 800px;
    background-color:yellowgreen;
    margin-top: 90px;
    margin-left: 150px;
    font-size: 23px;
    font-weight: 540;
    text-align: center;
    color: #f4eab9;
    transform: rotate(10deg);
}

.main_bd .liner li p:hover {
    transform: scale(1.2);
    color: red;
    font-weight: 600; 
}

.main_bd .liner li h2 {
    color: #ede6e8;
}