.rabbit {
  position: relative;
  height: 900px;
    /* padding: 50px; */
    border: 20px double orange;
     background-color: gold;
     /* overflow: hidden; */
}
.rabbit_video {
    position:absolute;
    /* margin: 0 auto; */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

.rabbit_video video {
  width: 1200px; 
}
